h1,h2,h3,p,a {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

.main-banner {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

a {
  color: white;
  font-size: 18px;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
  font-weight: normal;
}

.bar {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

footer a {
  font-weight: normal;
}
